// Здесь будут настройки футера и его модального окна
.container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  
    // @media screen and (min-width: 480px) {
    //   width: 320px;
    // }
  
    @media screen and (min-width: 768px) {
      width: 744px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 1256px;
    }
  }
  .backdrop--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop--hidden .card-modal {
    transform: translate(-50%) scale(0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.footer {
    background-color: #f7f7f7;
  }
  
  .footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
  
    @media screen and (min-width: 768px) {
      height: 79px;
    }
  
    @media screen and (min-width: 1280px) {
      height: 77px;
    }
  }
  
  .footer-link {
    color: #545454;
    font-size: 14px;
    line-height: 1.14;
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.18;
    }
  }
  
  .footer-link:hover {
    color: var(--secondary-color-title-card);
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-text {
    text-align: center;
    line-height: 1.14;
    font-size: 14px;
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.18;
    }
  }
  
  .footer-svg {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .footer-span {
    @media screen and (max-width: 767px) {
      display: block;
      margin-bottom: 10px;
    }
  }
  
  .close-svg {
    fill: var(--primary-text-color);
    object-fit: contain;
    &:hover,
    &:focus {
      fill: var(--hero-btn-color);
    }
  }
  .team-modal.backdrop--hidden {
    transform: scale(1.2);
  }
  .team-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 20px;
  }
  
  .team-modal__body {
    padding: 24px;
    background-color: #f7f7f7;
    width: 1280px;
    margin: 0 auto;
    max-height: 100%;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
  
    @media screen and (max-width: 768px) {
      overflow-y: scroll;
    }
  }
  
  .team-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: #f7f7f7;
    background-color: #f7f7f7;
  }
  
  .cards-set__title {
    font-family: inherit;
    text-align: center;
    color: black;
  }
  
  .cards-set__wrap {
    width: 190px;
    height: 300px;
    position: relative;
    padding-top: 200px;
  }
  
  .cards-set__wrap--main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .cards-set__wrap--secondary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .cards-set__item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 220px;
    transform: translate(-50%, -50%);
  
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all linear 500ms;
  
    &:hover .cards-set__img {
      opacity: 0.4;
      transition: 0.5s;
      transform: rotateY(180deg);
    }
  }
  
  .cards-set__img {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: all linear 500ms;
    object-fit: cover;
  }
  
  /**** Social Icons *****/
  
  .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
  }
  
  .social-icons__link {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(100px);
    opacity: 0;
  }
  
  .cards-set__item:hover .social-icons__link {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .social-icons__link:hover {
    background: #000;
    transition: 0.2s;
  
    .social-icons__svg {
      fill: #fff;
    }
  }
  
  .social-icons__svg {
    transition: 800ms;
  
    &:hover {
      transform: rotateY(360deg);
      color: #fff;
    }
  }
  
  .cards-set__item:hover .social-icons__item:nth-child(1) a {
    transition-delay: 100ms;
  }
  
  .cards-set__item:hover .social-icons__item:nth-child(2) a {
    transition-delay: 200ms;
  }
  
  .cards-set__item:hover .social-icons__item:nth-child(3) a {
    transition-delay: 300ms;
  }
  
  .cards-set__item:hover .social-icons__item:nth-child(4) a {
    transition-delay: 400ms;
  }
  
  /**** Personal Details ****/
  
  .cards-set__details {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 60px;
    z-index: 3;
    padding: 5px;
    bottom: -60px;
    opacity: 0;
    transition: all linear 400ms;
  
    .cards-set__name {
      font-size: 14px;
      margin: 10px 0;
      padding: 0;
      text-align: center;
      font-weight: bold;
  
      .cards-set__city {
        font-size: 13px;
        line-height: 1.2;
        color: #333;
        font-weight: 300;
      }
    }
  }
  
  .social-icons__link {
    border-radius: 50%;
  }
  
  .cards-set__item:hover .cards-set__details {
    bottom: 0;
    transition-delay: all linear 500ms;
    opacity: 1;
  }
  
  .cards-set__position {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    transform: translate();
    text-align: center;
    z-index: 5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: auto;
  }
  