
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms linear, visibility 250ms linear;
}

/*.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}*/
.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 280px;
  max-height: 940px;
  padding: 48px 20px 40px 20px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal-wrapper {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 704px;
    padding: 40px 72px 40px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 806px;
    padding: 40px 12px 40px 12px;
  }
}

.film-container--info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .film-container--info {
    display: block;
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.modal-btn--svg {
  fill: #000000;
}

.film-screen {
  background-image: url("./image/default-placeholder-image.jpg");
  width: 240px;
  height: 357px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (min-width: 768px) {
  .film-screen {
    width: 264px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .film-screen {
    width: 375px;
    height: 478px;
  }
}

@media screen and (min-width: 768px) {
  .film-container--descr {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .film-container--descr {
    width: 391px;
  }
}

.film-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .film-title {
    font-size: 20px;
    line-height: 1.17;
  }
}

.film-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: normal;
  width: 100%;
  text-align: left;
  color: black;
  table-layout: fixed;
  margin-bottom: 20px;
}

.title-description {
  color: #8C8C8C;
  font-weight: 500;
  padding: 0;
  width: 100px;
}

.film-description td {
  width: 110px;
  padding: 0;
  word-wrap: break-word;
}

.description-vote {
  color: #ffffff;
  background: #FF6B01;
  margin-right: 3px;
}

.description-votes {
  background: #F7F7F7;
  margin-left: 3px;
}

.description-vote, .description-votes {
  display: inline-block;
  text-align: center;
  padding: 1px 4px;
  width: 36px;
  border-radius: 5px;
}

.title-original-description {
  text-transform: uppercase;
}

.film-delineation--title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.film-delineation {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 20px;
  max-height: 240px;
  overflow: auto;
}

.film-description--btns {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .film-description--btns {
    display: block;
  }
}

.film-description--btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: normal;
  width: 110px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film-description--btn:hover {
  background-color: #FF6B01;
  color: #ffffff;
  border-color: #FF6B01;
}
@media screen and (min-width: 768px) {
  .film-description--btn {
    width: 125px;
  }
}
@media screen and (min-width: 1200px) {
  .film-description--btn {
    width: 136px;
    margin-left: 18px;
  }
}/*# sourceMappingURL=index.css.map */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767.98px) {
  .header {
    background-image: url(../images/header_home_page/header_sm.png);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header_home_page/header_sm@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    background-image: url(../images/header_home_page/header_md.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    background-image: url(../images/header_home_page/header_md@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: url(..//images/header_home_page/header_lg.png);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: url(../images/header_home_page/header_lg@2x.png);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  margin-bottom: 50px;
}

.header__logo {
  margin-right: auto;
}

.header__logo-name {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #FFFFFF;
}

@media screen and (max-width: 767.98px) {
  .header__logo-name {
    display: none;
  }
}

.header__nav-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.logo__icon {
  display: inline-block;
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .logo__icon {
    margin-right: 10px;
  }
}

.header__form {
  padding-bottom: 92px;
}

@media screen and (min-width: 480px) {
  .header__form {
    padding-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-bottom: 4px;
  background: transparent;
  border: transparent;
  border-bottom: 0.5px solid #FFFFFF;
}

@media screen and (max-width: 767.98px) {
  .header__input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .header__input {
    width: 336px;
  }
}

@media screen and (min-width: 1200px) {
  .header__input {
    width: 394px;
  }
}

.header__input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.header__input:-ms-input-placeholder {
  color: #FFFFFF;
}

.header__input::-ms-input-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

.header__form--data {
  position: relative;
}

.form-icon {
  position: absolute;
  bottom: 6px;
  right: 0;
}

.nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FF001B;
}
/*# sourceMappingURL=index.css.map */
