<footer>
    <div class="footer">
      <div class="container">
        <div class="footer-block">
          <p class="footer-text">
            <span class="footer-span">© 2022 | All Rights Reserved | </span>
            Developed with
            <svg
              class="footer-svg"
              width="14"
              height="13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m7 12.88-.98-.98C2.38 8.68 0 6.51 0 3.85 0 1.68 1.68 0 3.85 0 5.04 0 6.23.56 7 1.47 7.77.56 8.96 0 10.15 0 12.32 0 14 1.68 14 3.85c0 2.66-2.38 4.83-6.02 8.05l-.98.98Z"
                fill="#FF6B08"
              />
            </svg>
            by
            <a href="#" class="footer-link" data-togle="modal"> GoIT Students</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <div class="team-modal backdrop--hidden">
    <div class="team-modal__body">
      <div class="team-modal__content">
        <h2 class="cards-set__title">Meet our Team-3</h2>
        <!-- end box wrapper -->
        <div class="cards-set">
          <div class="cards-set__wrap--main">
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Team Lead</h3>
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 1
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Scrum Master</h3>
                <!-- <div class="card-image profile-img--two"> -->
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 2
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="cards-set__wrap--secondary">
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Developer</h3>
                <!-- <div class="card-image profile-img--two"> -->
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 3
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Developer</h3>
  
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 4
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Developer</h3>
  
                <!-- <div class="card-image profile-img--two"> -->
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 5
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Developer</h3>
  
                <!-- <div class="card-image profile-img--two"> -->
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 6
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Developer</h3>
  
                <!-- <div class="card-image profile-img--two"> -->
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 7
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
  
                  <p></p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
              <div class="cards-set__item">
                <h3 class="cards-set__position">Developer</h3>
  
                <!-- <div class="card-image profile-img--two"> -->
                <img
                  class="cards-set__img"
                  src="/src/images/modal-team/Gatto_europeo4.jpg"
                  alt="profile"
                />
                <!-- </div> -->
  
                <ul class="social-icons">
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href=""
                      ><svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-icons__item">
                    <a class="social-icons__link" href="">
                      <svg class="social-icons__svg" width="20" height="30">
                        <use href="./images/modal-team/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
  
                <div class="cards-set__details">
                  <p class="cards-set__name">
                    Person 8
                    <br />
                    <span class="cards-set__city">undefined</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cards-set__wrap">
                <div class="cards-set__item">
                  <h3 class="cards-set__position">Developer</h3>
    
                  <!-- <div class="card-image profile-img--two"> -->
                  <img
                    class="cards-set__img"
                    src="/src/images/modal-team/Gatto_europeo4.jpg"
                    alt="profile"
                  />
                  <!-- </div> -->
    
                  <ul class="social-icons">
                    <li class="social-icons__item">
                      <a class="social-icons__link" href=""
                        ><svg class="social-icons__svg" width="20" height="30">
                          <use href="./images/modal-team/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social-icons__item">
                      <a class="social-icons__link" href=""
                        ><svg class="social-icons__svg" width="20" height="30">
                          <use href="./images/modal-team/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social-icons__item">
                      <a class="social-icons__link" href=""
                        ><svg class="social-icons__svg" width="20" height="30">
                          <use href="./images/modal-team/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="">
                        <svg class="social-icons__svg" width="20" height="30">
                          <use href="./images/modal-team/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
    
                  <div class="cards-set__details">
                    <p class="cards-set__name">
                        Person 9
                      <br />
                      <span class="cards-set__city">undefined</span>
                    </p>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn team-modal__close">
        <svg class="modal-close__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-close-modal"></use>
        </svg>
      </button>
    </div>
  </div>