<section class="gallery">
    <div class="container gallery__container">
        <h2 class="visually-hidden">Gallery</h2>

        <ul class="gallery__set">
            <li class="gallery__item">
                <a  class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__item__link" target="_blank" rel="noopener noreferrer">
                    <img alt="" class="gallery__item__img">
                    <div class="gallery__item__text">
                        <h3 class="gallery__item__title">GREYHOUND</h3>
                        <div class="gallery__item__descr">
                            <span class="genre">Drama, Action</span>
                            <span class="slash">|</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                </a>
            </li>



        </ul>
    </div>
</section>