<div class="backdrop backdrop__is-hidden js-backdrop">
  <div class="modal-wrapper js-modal__info">

    <div class="modal-info__container">
      <button class="modal-btn js-btn__info--close" type="button">
        <svg width="30" height="30">
          <use href="./images/icons.svg#icon-close-modal"></use>
        </svg>
      </button>
      <div class="film-container--info js-film__container--info"></div>
      <div class="film-description--btns">
        <button id="btn__info--watched"
          class="film-description--btn js-btn__info--watched"
          type="button"
        >
          add to Watched
        </button>
        <button id="btn__info--queue"
          class="film-description--btn js-btn__info--queue"
          type="button"
        >
          add to queue
      </button>
    </div>
  </div>
</div>
</div>
