<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Hello! This is my function for modal window.</h1>
      <div class="one__card js-card">Please, click me!</div>
    </div>

    <div class="backdrop backdrop__is-hidden">
      <div class="modal">
        <button class="btn-close js-btn-close" type="button">Close</button>
        <!-- <button class="btn-watched" type="button">Add to watched</button>
        <button class="btn-queue" type="button">Add to queue</button> -->
      </div>
    </div>
  </body>
</html>
