
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;

    @include mq(mobile-only) {
        background-image: url(../images/header_home_page/header_sm.png);
           
    }
    @include mq(retina){
        background-image: url(../images/header_home_page/header_sm@2x.png);           
    }

    @include mq(tablet-only){
        background-image: url(../images/header_home_page/header_md.png);
    }
    @include mq(retina){
        background-image: url(../images/header_home_page/header_md@2x.png);
    }

    @include mq(desktop){
        background-image: url(..//images/header_home_page/header_lg.png);
    }
    @include mq(retina){
        background-image: url(../images/header_home_page/header_lg@2x.png);
    }

}

.header__container{
    display: flex;
    padding-top: 40px;
    margin-bottom: 50px;
}
.header__logo{
    margin-right: auto;
}
.header__logo-name{
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    color: #FFFFFF;

    @include mq(mobile-only){
        display: none;
    }
}
.header__nav-page{
    display: flex;
}
.nav__list{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav__item{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    color: #fff;
    text-transform: uppercase;

    display: flex;
    align-items: center;

}
.nav__link{
    color: #fff;
        text-transform: uppercase;
}

.nav__item:not(:last-child){
    margin-right: 40px;
}

.logo__icon{
    display: inline-block;
    fill: #fff;
    width: 24px;
    height: 24px;

    margin-right: 8px;

    @include mq(desktop){
        margin-right: 10px;
    }
}

.header__form{
    padding-bottom: 92px;

    @include mq(mobile){
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header__input{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.16;
        align-items: center;
    
        color: #FFFFFF;
        padding-bottom: 4px;

    background: transparent;
    border: transparent;
    border-bottom: 0.5px solid #FFFFFF;

    @include mq(mobile-only){
        width: 100%;
    }
    @include mq(mobile){
        width: 336px;
    }
    @include mq(desktop){
        width: 394px;
    }
}
.header__input::placeholder{
    color: #FFFFFF;
}

.header__form--data{
    position: relative;
    display: flex;
}

.form-icon{
    position: absolute;
    bottom: 6px;
    right: 0;
}

.form-notification{
    position: absolute;
    top: 40px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FF001B;
}
.hidden {
    display: none;
}
.nav__link--current::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FF001B;;
}
       
