#scrollTop {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ff6b08;
  color: #484848;
  transition: color 0.25s;
  z-index: 1;

  @include mq(mobile-only) {
        width: 35px;
        height: 35px;
        bottom: 37px;
        right: 20px;
    }
}
#scrollTop:hover {
  cursor: pointer;
  color: #fff;
}
#scrollTop:active {
  color: #fff;
}
